@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* fonts */
.inter {
  font-family: 'Inter', sans-serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

/* Typography */

.heading-primary {
  /* @apply text-orange-500; */
  color: #f97316;

  /* Font */
  @apply text-3xl font-serif tracking-wide;
}

.heading-secondary {
  font-size: 1.25rem;

  @apply uppercase font-sans;
}

/* Components */

.btn {
  @apply py-2 px-5;

  /* Borders */
  @apply rounded;

  /* Fonts */
  font-family: 'Poppins', sans-serif;

  @apply transition-all;
}

.btn:hover {
  @apply drop-shadow-sm -translate-y-1;
}

.btn--login{
  @apply w-full;
}

.btn--orange {
  /*
  @apply bg-orange-500 text-white; 
  */

  color: white;
  background-color: #f97316;

  @apply px-14;
  @apply rounded-3xl; 

  @apply font-bold;
}
