@tailwind base;
@tailwind components;
@tailwind utilities;


/* Typography */

.heading-primary {
  /* @apply text-orange-500; */
  color: #f97316;

  /* Font */
  @apply text-3xl font-serif tracking-wide;
}

.heading-secondary {
  font-size: 1.25rem;

  @apply uppercase font-sans;
}

/* Components */

.btn {
  @apply py-2 px-5;

  /* Borders */
  @apply rounded;

  /* Fonts */
  @apply font-sans;

  @apply transition-all;
}

.btn:hover {
  @apply drop-shadow-sm -translate-y-1;
}

.btn--black{
  @apply bg-black;
  @apply text-white text-xs font-bold;
  @apply w-2/4;
  @apply mx-auto mb-5;
}

.btn--orange {
  /*
  @apply bg-orange-500 text-white; 
  */
  
  color: white;
  background-color: #f97316;

  @apply px-14;
  @apply rounded-3xl; 

  @apply font-bold;
}

.logo-box {
  @apply w-full;
  @apply flex flex-row justify-center;

  @apply mb-7;
}

.logo-box img {
  @apply w-20;
}
